main{
  background-color: #F8F6F4;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 25px;

}
article{
  background-color: #E3F4F4;
  border-radius: 10px;
  display: flex;
  justify-content: center;   
  align-items: center;
}